body {
    background: #323639;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

#main-wrapper {
    position: absolute;
    height: 300px;
    width: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
}

#ui-gauge {
	height: 300px;
    width: 300px;
    position: absolute;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
}

#ui-ring-x {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 1px dashed #ff3611;
    border-radius: 100%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
}

#ui-ring-y {
    position: absolute;
    height: 170px;
    width: 170px;
    border: 1px dashed #82ff3f;
    border-radius: 100%;
    left: calc(50% - 85px);
    top: calc(50% - 85px);
}

#ui-ring-z {
    position: absolute;
    height: 140px;
    width: 140px;
    border: 1px dashed #3f4eff;
    border-radius: 100%;
    left: calc(50% - 70px);
    top: calc(50% - 70px);
}

.ui-needle {
	height: 14px;
    width: 150px;
    position: absolute;
    left: calc(50% - 75px);
    top: calc(50% - 7px);
    transform: translateX(75px);
    -webkit-mask-type: alpha;
    -webkit-mask-image: url(../img/needle.png);
    -webkit-mask-size: 100%;
    transition: transform 1s;
}

#ui-needle-x {
	transform: rotate(-45deg) translateX(75px);
    background: #ff3611;
}

#ui-needle-y {
	transform: rotate(66deg) translateX(75px);
    background: #82ff3f;
}

#ui-needle-z {
	transform: rotate(-150deg) translateX(75px);
    background: #3f4eff;
}

#debug {
    background: black;
    display: inline-block;
    position: absolute;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

p {
    color: #FFFFFF;
    font-family: monospace;
}


